html {
  font-family: "Raleway", "Helvetica", sans-serif;
  font-weight: 400;
  color: #2f3442;
  height: 100%;
  background-color: #ffffff;
}

.icon {
  color: #bcd2da;
}

.card {
  /* display, flex-direction */
  display: flex;
  flex-direction: column;
  border: 1px solid #cad0d2;
  border-radius: 4px;
  overflow: hidden;
}

.card__description {
  /* display, flex-direction, justify-content, align-items */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px 0;
}

.card__descriptionIcon {
  font-size: 32px;
  margin-bottom: 10px;
}

.card__descriptionText {
  color: #57727c;
  font-size: 12px;
  text-align: center;
  max-width: calc(100% - 30px);
}

.card__price {
  text-align: center;
  color: #57727c;
  font-size: 12px;
  font-weight: 700;
  padding: 5px 15px;
  border-top: 1px solid #d7dbdd;
  background-color: #eef3f5;
}

.cardGroup {
  /* display */
  display: flex;
  border: 1px solid #cad0d2;
  border-radius: 4px;
  overflow: hidden;
}

.cardGroup__card {
  /* flex-grow, flex-shrink, flex-basis */
  flex-grow: 1;
  flex-basis: 20%;
  flex-shrink: 1;
  border: none;
  border-radius: 0;
}

.cardGroup__card {
  border-left: 1px solid #d7dbdd;
}

.cardGroup__cardDescription {
  /* flex-grow, flex-shrink, flex-basis */
  flex-grow: 1;
  flex-basis: 20%;
  flex-shrink: 1;
}
